body {
  background-color: lavender;
  margin: 10% 10%
}

.header {
  background-color: lightgray;
  padding-left: 10px;
  border: 1px solid black;
    
}

.section-title {
  text-transform: uppercase;
}

img {
  float: right;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.tab { margin-left: 40px; }
